{% block barChart %}
<style>
<!--#columnchart_values {-->
<!--    overflow-x: scroll;-->
<!--    overflow-y: hidden;-->
<!--}-->
</style>
{% include "graph/vms_device/sectionTitle_01.html" with fontSize='1.3rem' title='지역별 CCTV 운영 수량' %}
<div id="columnchart_values02" style="width:100%; height:410px;"></div>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        [{label: 'Year', type: 'string'}, 'Sales',{ role: "style" } ],
        ['양재1동', 341, "#ef5285"],
        ['방배2동', 320, "#218380"],
        ['양재2동', 286, "#218380"],
        ['반포4동', 210, "#218380"],
        ['서초1동', 208, "#218380"],
        ['반포1동', 188, "#218380"],
        ['방배1동', 177, "#218380"],
        ['내곡동', 166, "#218380"],
        ['서초4동', 163, "#218380"],
        ['서초2동', 157, "#218380"],
      ]);
      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                       2]);

      var options = {
        // 차트 제목
        //title: "지역별 CCTV 운영 수량",
        // 차트 제목 스타일
        titleTextStyle:{
            color:'black',
            fontSize:18,
            bold:true,
            //fontName:,
        },
        // 데이터 레이블 속성
        annotations: {
            textStyle: {
            //fontName: 'Times-Roman',
            fontSize: 15,
            bold: false,
            italic: false,
            color: '#871b47',
            auraColor: 'transparent',
            opacity: 0.8
            }
        },
        // 툴팁 속성
        tooltip: {textStyle: {color: '#000000', fontSize:18}, showColorCode: true},
        // 차트 배경색
        backgroundColor:{fill:'transparent', stroke:'transparent', strokeWidth:4},
        chartArea:{width:'80%',height:'70%',backgroundColor:'transparent', overflow:'scroll'},
        //
        //explorer: { axis: 'horizontal' },
        explorer: { actions: ['dragToPan'] }, //vertical or horizontal
        width: 950,
        height: 370,
        //
        bar: {groupWidth: "62%"},
        legend: { position: "none" },
        // Y축
        vAxis: {
             textStyle:{color:'white', fontSize:17, }
        },
        // X축
        hAxis: {
            textStyle:{color:'white', fontSize:17, }
        }
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values02"));
      chart.draw(view, options);
  }

</script>
{% endblock %}
