{% block barChart %}
<style>
<!--#columnchart_values {-->
<!--    overflow-x: scroll;-->
<!--    overflow-y: hidden;-->
<!--}-->
</style>
<div id="columnchart_values" style="width:100%; height:100%;"></div>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ['모델', '정상', '비정상',  '색상'],
        ['TRUEN', 200, 20, "#ef5285"],
        ['SAMSUNG TEHCH...', 131, 20, "#a5dff9"],
        ['NEOTECH', 95, 20, "#a5dff9"],
        ['AXIS', 57, 20, "#a5dff9"],
        ['Innodep Inc', 42, 20, "#a5dff9"],
        ['Hikvision Digital', 42, 20, "#a5dff9"],
        ['IDIS', 41, 20, "#a5dff9"],
        ['LG', 38, 20, "#a5dff9"],
        ['YOUNGKOOK', 30, 20, "#a5dff9"],
        ['Innodep Inc', 29, 20, "#a5dff9"],
        ['Hikvision Digital', 25, 20, "#a5dff9"],
        ['TRUEN', 200, 20, "#ef5285"],
        ['SAMSUNG TEHCH...', 131, 20, "#a5dff9"],
        ['NEOTECH', 95, 20, "#a5dff9"],
        ['AXIS', 57, 20, "#a5dff9"],
        ['Innodep Inc', 42, 20, "#a5dff9"],
        ['Hikvision Digital', 42, 20, "#a5dff9"],
        ['IDIS', 41, 20, "#a5dff9"],
        ['LG', 38, 20, "#a5dff9"],
        ['YOUNGKOOK', 30, 20, "#a5dff9"],
        ['Innodep Inc', 29, 20, "#a5dff9"],
        ['Hikvision Digital', 25, 20, "#a5dff9"],
      ]);
      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                       2,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                         { role: "style" }]);

      var options = {
        // 차트 제목
        title: "제조사별 CCTV 운영 수량",
        // 차트 제목 스타일
        titleTextStyle:{
            color:'black',
            fontSize:18,
            bold:true,
            //fontName:,
        },
        // 데이터 레이블 속성
        annotations: {
            textStyle: {
            //fontName: 'Times-Roman',
            fontSize: 16,
            bold: true,
            italic: false,
            color: '#871b47',
            auraColor: 'transparent',
            opacity: 0.8
            },
            highContrast:true,
        },
        // 툴팁 속성
        tooltip: {textStyle: {color: '#000000', fontSize:15}, showColorCode: true},

        // 차트 배경색
        backgroundColor:{fill:'transparent', stroke:'transparent', strokeWidth:4},
        chartArea:{width:'80%',height:'60%',backgroundColor:'transparent'},

        //
        //explorer: { axis: 'horizontal' },
        explorer: { actions: ['dragToPan'] }, //vertical or horizontal
        //explorer: {axis: 'vertical', actions: ['dragToPan', 'rightClickToReset',], keepInBounds: true},
        width: 800,
        height: 300,
        numberRangeFilter:{lowValue:400},

        // 막대 방향 전환 vertical or horizontal
        orientation:'horizontal',

        // bar: {groupWidth: "61.8%"},
        legend: { position: "none" },
        vAxis: {
            title: 'City', gridlines:{color: 'gray', minSpacing: 40},
            viewWindowMode: 'explicit',
            viewWindow: {
            max: 100,
            min: 0
          }
        },
        hAxis: {
            title: 'City', textStyle:{italic:false}
        }
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values"));
      chart.draw(view, options);
  }

</script>
{% endblock %}
