{% block donutChart %}
<style>
    #center{
        position: absolute !important;
        top:190px !important;
        left:197px !important;
        text-align: center;
    }
</style>
{% include "graph/vms_device/sectionTitle_01.html"  with fontSize='1.3rem' title='CCTV 운영현황' %}
<div id="donutchart" style="width: 100%; height: 350px;"></div>
<div id="center">
    <font style="color:#75D701; font-weight:bold; font-size:25px">98.25%</font>
    <BR>
    <font style="color:#F7F7F7;font: 17px arial, sans-serif; ">가동률</font>
</div>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load("current", {packages:["corechart"]});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
    var data = google.visualization.arrayToDataTable([
        ['Task', 'Hours per Day'],
        ['정상', 3498],
        ['비정상', 63],
    ]);

    var options = {
    //title: 'CCTV 운영현황',
    titleTextStyle:{
        color:'white',
        fontSize:18,
        bold:true,
        //fontName:,
    },

    // 데이터 색상
    colors:['#265F95', '#F0BA34'],
    // 범례 속성
    legend:{ position: 'labeled', textStyle: {color: '#FFFFFF', fontSize: 19}, alignment:'center'},
    // 차트 영역 크기
    chartArea: {width:'90%', height:'70%'},
    // 홀 크기
    pieHole: 0.65,
    is3D:false,
    // 데이터(레이블) 형태
    pieSliceText:'value', // value, label, none, percentage
    // 데이터 구분선 색상
    pieSliceBorderColor:'transparent',
    // 배경색
    backgroundColor: { fill:'transparent' },
    pieSliceTextStyle: { color: '#F7F7F7', fontSize:20, },
    };

    var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
    chart.draw(data, options);
    }

</script>
{% endblock %}
