{% block donutChart %}
<style>
    #center{
        position: absolute;
        top: 130px;
        left:175px;
        text-align: center;
    }
</style>
{% include "graph/vms_device/sectionTitle_01.html" with fontSize='1.3rem' title='CCTV 설치 유형별 수량' %}
<div id="donutchart02" style="width: 100%; height: 350px;"></div>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load("current", {packages:["corechart"]});
    google.charts.setOnLoadCallback(drawChart02);
    function drawChart02() {
    var data = google.visualization.arrayToDataTable([
        ['Task', 'Hours per Day'],
        ['고정형', 3313],
        ['회전형', 246],
        ['비디오서버', 3],
        ['기타', 0]
    ]);

    var options = {
    //title: 'CCTV 설치 유형별 수량',
    titleTextStyle:{
        color:'black',
        fontSize:18,
        bold:true,
        //fontName:,
    },
    colors:['#265F95', '#F0BA34', '#56445D', '#58C9B9'],
    pieSliceTextStyle:{color: 'blue'},
    legend:{ position: 'labeled', textStyle: {color: '#FFFFFF', fontSize: 19}, alignment:'center'},
    chartArea: {width:'90%', height:'70%'},
    pieHole: 0.65,
    is3D:false,
    pieSliceBorderColor:'transparent',
    backgroundColor: { fill:'transparent' },
    pieSliceTextStyle: { color: '#F7F7F7', fontSize:20, },
    };

    var chart = new google.visualization.PieChart(document.getElementById('donutchart02'));
    chart.draw(data, options);
    }

</script>
{% endblock %}
