{% block donutChart %}
<style>
    #center{
        position: absolute !important;
        top:190px !important;
        left:200px !important;
        text-align: center;
    }
</style>
{% include "graph/vms_device/sectionTitle_01.html" with title='CCTV 운영현황' %}
<div id="donutchart" style="width: 100%; height: 350px;"></div>
<div id="center">
    <font style="color:green;font-weight: bold;font:25px arial, sans-serif;">98.25%</font>
    <BR>
    <font style="color:black;font: 16px arial, sans-serif; ">가동률</font>
</div>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load("current", {packages:["corechart"]});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
    var data = google.visualization.arrayToDataTable([
        ['Task', 'Hours per Day'],
        ['정상', 98.25],
        ['비정상', 1.75],
    ]);

    var options = {
    //title: 'CCTV 운영현황',
    titleTextStyle:{
        color:'black',
        fontSize:18,
        bold:true,
        //fontName:,
    },
    colors:['#218380', '#FFBC42'],
    pieSliceTextStyle:{color: 'blue'},
    legend:{ position: 'labeled', textStyle: {color: 'black', fontSize: 16}, alignment:'center'},
    chartArea: {width:'90%', height:'70%'},
    pieHole: 0.65,
    is3D:false,
    backgroundColor: { fill:'transparent' },
    pieSliceTextStyle: {
        color: 'white',
        fontSize:15,
        },
    };

    var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
    chart.draw(data, options);
    }

</script>
{% endblock %}
