{% extends "layout/layout.html" %}
{% block page %}
{% load staticfiles %}
<style>
    body{
        background:white url("http://127.0.0.1:8000/static/images/sky.jpg") no-repeat right bottom;
    }
</style>
<div class="row" style="text-align:center">
    <div class="col-sm-2">
        {% include "graph/vms_device/card_custom.html" with title='가동률' content='98.25%'%}
    </div>
    <div class="col-sm-2">
        {% include "graph/vms_device/card_custom.html" with title='전체수량' content='3561대'%}
    </div>
    <div class="col-sm-2">
        {% include "graph/vms_device/card_custom.html" with title='정상' content='3498대'%}
    </div>
    <div class="col-sm-2">
        {% include "graph/vms_device/card_custom.html" with title='정상' content='3498대'%}
    </div>
    <div class="col-sm-2">
        {% include "graph/vms_device/card_custom.html" with title='고정형' content='3313대'%}
    </div>
    <div class="col-sm-2">
        {% include "graph/vms_device/card_custom.html" with title='회전형' content='246대'%}
    </div>
</div>
<div class="row">
    <div class="col-lg-3">
        {% include "graph/vms_device/donutChart_01.html" with data=100 %}
    </div>
    <div class="col-lg-3">
        {% include "graph/vms_device/donutChart_02.html" with data=100 %}
    </div>
    <div class="col-lg-6">
        {% include "graph/vms_device/columnChart_01.html" %}
    </div>
    <div class="col-lg-3">
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        {% include "graph/vms_device/columnChart_02.html" %}
    </div>
    <div class="col-lg-6">
        {% include "graph/vms_device/stackBarChart_01.html" %}
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        {% include "graph/vms_device/googleMap.html" %}
    </div>
</div>
<script>
        var data = JSON.parse('{{ data|safe }}');
        console.log(data)


</script>
{% endblock %}